
viam-sdk==0.63.0

typing-extensions==4.15.0
webrtcvad-wheels==2.0.14
vosk==0.3.44
pydub==0.25.1
rapidfuzz==3.14.3
openwakeword==0.6.0
numpy==1.26.4
certifi==2025.11.12
speexdsp-ns>=0.1.2; sys_platform == "linux"
